@font-face {
  font-family: "JejuMyeongjo";
  src: url("Assets\Images\Fonts\JejuMyeongjo\jejumyeongjo\JejuMyeongjo-Regular.ttf");
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JejuMyeongjo";
}
body{
  background-color: #02191D;
  color: white;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 24px;
}


@media screen and (max-width: 500px) {
  body{
    margin-left: 20px;
    margin-right: 20px;
  }
}